body {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0 15%,
        #D9DBD4 15% 100%);

    display: flex;

}

img {
    max-width: 100%;
}

a {
    color: currentColor;
}

.boolzap {
    border: 3px solid #333;
    background-color: #eee;

}

.row, .col, .col-4 {
    /* border: 2px dashed tomato; */
    height: 100%;
}

.user-bar,
.notification-banner,
.search-bar,
.chat-input {
    width: 100%;
    height: 75px;
    background-color: #eaeaea;
    color: #333;
}

.boolzap__navbar > *,
.boolzap__chat > * {
    border: 2px dashed cornflowerblue;
}

.profile__img {
    width: 50px;
}

.notification-banner{
    background-color: #8EDAFC;
    color: #333;
}

.notification__icon {
    width: 50px;
    height: 50px;
    border-radius: 999px;
    background-color: #D9DBD4;
    color: #8EDAFC;
}

