
/* general rules */
body {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0 15%,
        #D9DBD4 15% 100%);

    display: flex;

}

img {
    max-width: 100%;
}

ul, ol, li, menu {
    list-style: none;
    padding: 0;
}

a {
    color: currentColor;
}

i:not(.notification__icon>i) {
    color: #b0b0b0 ;
}

.boolzap {
    /* border: 3px solid #333; */
    background-color: #eee;

}

.row, .col, .col-4 {
    /* border: 2px dashed tomato; */
    height: 100%;
}

.user-bar,
.notification-banner,
.search-bar,
.chat-input {
    width: 100%;
    height: 75px;
    background-color: #eaeaea;
    color: #333;

    position: relative;
}

.boolzap__chat {
    border-left: 2px solid #D9DBD4;
}

.profile__img {
    width: 50px;
}

.notification-banner{
    background-color: #8EDAFC;
    color: #333;
}

.notification__icon {
    width: 50px;
    height: 50px;
    border-radius: 999px;
    background-color: #D9DBD4;
    color: #8EDAFC;
}

.lateral__icon {
    padding: 20px;
}

.chat__navbar {
    background-color: #fff;
}

.chat__navbar .user-bar__profile {
    padding: 15px 10px;
    background-color: #fff;
}

.chat__navbar .user-bar__profile:hover {
    background-color: #eee;
    cursor: pointer;
}

.chat__navbar .user-bar__profile.active {
    background-color: #ddd;
}

.chat__navbar .profile__img {
    width: 75px;
    margin-right: 10px;
    flex-shrink: 0;
}

.chat__navbar .profile__name {
    position: relative;
}

.receiver__info {
    /* wrappa il testo e ne riporta solo una parte */
    white-space: nowrap; 
    width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat__navbar .receiver__time {
    position: absolute;
    top: 0;
    right: 0;
}

.chat-view {
    background-image: url(../assets/wa_bg.jpg);
    background-repeat: repeat;
    background-size: contain;
}

/* searchbar */


/* messages */
.messages-container {
    width: auto;
    height: 100%;

}

.message__cloud {
    padding: 10px 50px 35px 10px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #D9DBD4;
    background-color: #fff;
    width: fit-content;
    max-width: 300px;
    position: relative;
}

.message__layer {
    position: absolute;
    width: 50px;
    padding: 20px;
    background-color: white;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.sent__message .message__layer {
    right: 100%;
}

.received__message .message__layer {
    left: 100%;
}


/* .message__cloud:first-child {
    margin-top: auto;
} */

.message__cloud .message__time {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.message__cloud .message__option {
    position: absolute;
    top: 10px;
    right: 10px;

    display: none;

}

.message__cloud:hover .message__option {
    display: block;
    cursor: pointer;
}

.sent__message {
    margin-left: auto;
    background-color: #D5F9BA;
}

.message__text {
    word-wrap: break-word;
}

.message__menu {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #D9DBD4;

    position: absolute;
    top: 30px;
    right: 10px;
}

.message__menu > * {
    padding: 10px 20px;
}

.message__menu > *:hover {
    background-color: #eee;
    cursor: pointer;
}


.message__cloud .emoji__option {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    z-index: 999;

    display: block;

}

.message__cloud.sent__message .emoji__option {
    left: -25px;
    width: fit-content;
}

.message__cloud .message__layer:hover .emoji__option {
    display: block;
    color: #333;
    cursor: pointer;
}

.emoji__menu {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #D9DBD4;

    position: absolute;
    top: 50%;
    right: -150px;
    transform: translateY(-50%);
}

.message__cloud.sent__message .emoji__menu {
    left: -150px;
    width: fit-content;
}

.emoji__menu > * {
    padding: 10px 20px;
}

.emoji__menu > *:hover {
    background-color: #eee;
    cursor: pointer;
}