
/* general rules */
body {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0 15%,
        #D9DBD4 15% 100%);

    display: flex;

}

img {
    max-width: 100%;
}

a {
    color: currentColor;
}

i:not(.notification__icon>i) {
    color: #b0b0b0 ;
}

.boolzap {
    /* border: 3px solid #333; */
    background-color: #eee;

}

.row, .col, .col-4 {
    /* border: 2px dashed tomato; */
    height: 100%;
}

.user-bar,
.notification-banner,
.search-bar,
.chat-input {
    width: 100%;
    height: 75px;
    background-color: #eaeaea;
    color: #333;

    position: relative;
}

.boolzap__chat {
    border-left: 2px solid #D9DBD4;
}

.profile__img {
    width: 50px;
}

.notification-banner{
    background-color: #8EDAFC;
    color: #333;
}

.notification__icon {
    width: 50px;
    height: 50px;
    border-radius: 999px;
    background-color: #D9DBD4;
    color: #8EDAFC;
}

.lateral__icon {
    padding: 20px;
}

.chat__navbar {
    background-color: #fff;
}

.chat__navbar .user-bar__profile {
    padding: 15px 10px;
    background-color: #fff;
}

.chat__navbar .user-bar__profile:hover {
    background-color: #eee;
}

.chat__navbar .user-bar__profile.active {
    background-color: #ddd;
}

.chat__navbar .profile__img {
    width: 75px;
    margin-right: 10px;
}

.chat__navbar .profile__name {
    position: relative;
}

.chat__navbar .receiver__time {
    position: absolute;
    top: 0;
    right: 0;
}

.chat-view {
    background-image: url(../assets/wa_bg.jpg);
    background-repeat: repeat;
    background-size: contain;
}

/* searchbar */


/* messages */
.messages-container {
    width: auto;
    height: 100%;

}


.message__cloud {
    padding: 10px 75px 35px 10px;
    margin: 40px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #D9DBD4;
    background-color: #fff;
    width: fit-content;
    max-width: 300px;
    position: relative;
}

.message__cloud .message__time {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.message__cloud .message__option {
    position: absolute;
    top: 10px;
    right: 10px;
}

.sent__message {
    margin-left: auto;
    background-color: #D5F9BA;
}

